  <main class="main">
      <div class="header"> <h1>{{spotifyController.appName}}</h1></div>

      <div class="inputData">
          <input type="text" ng-model="spotifyController.track.name" placeholder="Artist">
          <button ng-click="spotifyController.searchTracks(spotifyController.track.name)">Wyszukaj</button>
      </div>

      <div class="trackList">
          <table>
              <tr *ng-for="let trac of tracks">
                  <td>{{trac.trackName}}</td>
                  <td><button ng-click="spotifyController.saveTrack(trac)">Dodaj do ulubionych</button></td>
              </tr>
          </table>
      </div>
  </main>
  <style>
    .header{
    font-size: 28px;
    background-color: transparent;
    margin-bottom: 50px;
    padding: 13px 0;
    color: grey;
    text-align: center;
}
.main{
    width: 70%;
    color: white;
}

.inputData{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    text-align: center;
}
.inputData input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    text-align: center;
    width: 95%;
    margin: 0 10px;
}
.inputData button{
    width: 30%;
    background: none;
    border: 2px solid #fff;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 12px;
    margin-bottom: 60px;
    align-content: center;
}
.trackList {
    font-size: 18px;
}
.trackList button{
    float: right;
    background: none;
    border: 2px solid #fff;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 40%;
}
.trackList table {
    width: 100%;
    padding: 15px;
    text-align: center;
}
  </style>